<!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> -->
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<div *ngIf="loaded" class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Admin Dashboard</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <a (click)="logOut()" href="javascript:void(0);" class="btn btn-info pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Log out</a>
        </div>
    </div>

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-4 col-sm-6 ">
            <div class="white-box">
                <h3 class="box-title">ETH Balance</h3>
                <ul class="list-inline two-part">
                    <li><i class="icon-user text-info"></i></li>
                    <li class="text-right"><span class="counter text-info" id="totalUsers">{{balance}} ETH</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 ">
            <div class="white-box">
                
                <h3 class="box-title">Creators</h3>
                <ul class="list-inline two-part">
                    <li><i class="fa fa-briefcase text-purple"></i></li>
                    <li class="text-right "><span class="counter text-purple">{{creators.length}} USERS</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 ">
            <div class="white-box">
                <h3 class="box-title">Validators</h3>
                <ul class="list-inline two-part">
                    <li><i class="fa icon-dropbox text-success"></i></li>
                    <li class="text-right"><span class="counter text-success" id="totalBatch">{{validators.length}} USERS</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="white-box">
                <a href="javascript:void(0);" 
                    class="btn btn-info pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light"
                    onclick="javascript:$('#validatorModel').modal();"
                >Add Validator</a>
                <h3 class="box-title">Validators List</h3> 
                <div class="table-responsive">
                    <table class="table product-overview" id="adminCultivationTable">
                        <thead>
                            <tr>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let user of validators">
                                    <td>{{user.address}}</td>
                                    <td><a (click)="removeValidator(user)" href="javascript:void(0);" class="btn btn-info m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Remove
                                    </a></td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="white-box">
                <a href="javascript:void(0);" 
                    class="btn btn-info pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light"
                    onclick="javascript:$('#validatorModel').modal();"
                >Add Validator</a>
                <h3 class="box-title">Validators List</h3> 
                <div class="table-responsive">
                    <table class="table product-overview" id="adminCultivationTable">
                        <thead>
                            <tr>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let user of validators">
                                    <td>{{user.address}}</td>
                                    <td><a (click)="removeValidator(user)" href="javascript:void(0);" class="btn btn-info m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Remove
                                    </a></td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="white-box">
                <h3 class="box-title">Stamp Contract Address <i class="fa fa-qrcode fa-2x text-danger"></i></h3>
                <ul class="list-inline two-part">
                    <li class="text-right" id="stampAddress">{{stamp}}</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="white-box">
                <h3 class="box-title">Your Address <i class="fa fa-qrcode fa-2x text-info"></i></h3>
                <ul class="list-inline two-part">
                    <li class="text-right" id="adminAddress">{{admin}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="creatorModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; padding-top: 170px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Add Creator</h2>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label" for="farmerRegistrationNo">Address<i class="red">*</i></label>
                    <input type="text" class="form-control" id="creatorAddress" name="creatorAddress"
                    [(ngModel)]="creatorAddress" #title="ngModel">
                </div>                      
            </div>
            <div class="modal-footer">
                 <button type="submit" (click)="addCreator()" class="fcbtn btn btn-primary btn-outline btn-1f">Submit</button>
            </div>
        </div>
    </div>
</div>

<div id="validatorModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; padding-top: 170px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Add Validator</h2>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label" for="farmerRegistrationNo">Address<i class="red">*</i></label>
                    <input type="text" class="form-control" id="validatorAddress" name="validatorAddress"
                    [(ngModel)]="validatorAddress" #title="ngModel">
                </div>                      
            </div>
            <div class="modal-footer">
                 <button type="submit" (click)="addValidator()" class="fcbtn btn btn-primary btn-outline btn-1f">Submit</button>
            </div>
        </div>
    </div>
</div>